<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'cocomo2/style.css' %}">

    <title>Title</title>
</head>
<body>
<a href="{% url 'links_calculator' %}" class="btn btn-outline-dark"><< Назад</a>
<div class="wrapper">
    <form method="post" class="form">
        {% csrf_token %}
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <td>Measure</td>
                    <td>Simple</td>
                    <td>Average</td>
                    <td>Complex</td>
                </tr>
            </thead>
            <tbody>
                {% for key, val in dict_input.items %}
                    <tr>
                        <td>{% for k, v in name.items %} {% if key == k %} {{ v }} {% endif %} {% endfor %}</td>
                        {% for v in val %}
                        <td>
                            <input type="number" name="{{ v }}">
                        </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <p></p>
        <table class="table">
            <thead>
                <tr>
                    <td>Factor environment</td>
                    <td>0</td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                </tr>
            </thead>
            <tbody>
                {% for key, val in dict_factor_environment.items %}
                    <tr>
                        {% for k, v in dict_name_factor_environment.items %}
                            {% if k == key %} <td class="text-center">{{ v }}</td> {% endif %}
                        {% endfor %}
                        {% for v in val %}
                            <td><input type="radio" name="{{ key }}" value="{{ v }}" {% if v == 0 %} checked {% endif %}></td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <p></p>
        <select name="lang_coef" class="form-select">
            {% for key, val in dict_language_ratio.items %}
                <option value="{{ val.1 }}">{{ val.0 }}</option>
            {% endfor %}
        </select>
        <p></p>
        <div class="row justify-content-center mb-2">
            <div class="col-md-12 text-center">
                <p>Organic: <input type="radio" name="basic" value="organic"></p>
                <p>Semi distributed: <input type="radio" name="basic" value="semi_distributed"></p>
                <p>Built in: <input type="radio" name="basic" value="built_in"></p>
            </div>
        </div>

        <input type="submit" value="send" class="btn btn-outline-dark">
    </form>
    <h3>Кількість функціональних точок: {{ num }}</h3>
    <h3>VAF: {{ VAF }}</h3>
    <h3>AFP: {{ AFP }}</h3>
    <h3>V: {{ V }}</h3>
    <h3>Трудовитрати: {{ T }}</h3>
</div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
            integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
            integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
            crossorigin="anonymous"></script>



</body>
</html>