<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Intermediate calculator</h1>
    <form method="get">
        <p>Organic: <input type="radio" name="basic" value="organic" checked></p>
        <p>Semi distributed: <input type="radio" name="basic" value="semi_distributed"></p>
        <p>Built in<input type="radio" name="basic" value="built_in"></p>
        <input type="number" name="rows">
        <p>
            {% for key, value in dict.items %}
            <p>{{ key }} {% for k, l in name_atribut.items %} {% if key == k %} ({{ l }}) {% endif %} {% endfor %}<select name="{{ key }}">
                {% for val in value %}
                    <option value="{{ val }}">{{ a }} {{ val }}</option>
                {% endfor %}
            </select></p>
            {% endfor %}
        <p><input type="submit" value="Calculate">
    </form>

    <p>
    <h3>Трудоємкість: {{ PM }}</h3>

</body>
</html>