.form {
  display: flex;
  flex-direction: column;
  max-width: 50rem;
  justify-content: center;
  border-radius: 8px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
